@keyframes rollout {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: none;
  }
}

.emitter-data {
  animation: rollout 0.4s ease-out 0s 1;
}

.emitter-data {
  height: 15rem;
  padding: 0.4rem;
}

.emitter-data-entry {
  background-color: #f4f4f0;
  border: solid 0.0625rem #0000;
  color: var(--primary);
  border-radius: .25rem;
  transition: all .14s ease-out;
  height: 100%;
}

.emitter-data-side {
  background-color:var(--yellow-dark);
  border: none;
  display: flex;
  flex-direction: column;
  width: 12rem;
  padding: 0;
  box-shadow: initial;
  border-radius: 0.25rem;
  color: var(--primary);
  box-shadow: 0.25rem 0.25rem 0 var(--primary);
}