.emitters-window {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.emitters-navbar {
  display: flex;
  flex-direction: row;
  background-color: #f4f4f0;
  /* padding-bottom: 10px; */
}

.emitters {
  display: grid;
  grid-auto-rows: min-content;
  height: 100%;
  overflow: auto;
  background: var(--background-color);
}

.emitters-navigation-button {
  background: transparent;
  font-size: 1rem;
  line-height: 1.5;
  --line-height: 1.5rem;
  padding: 0.1rem 0.4rem;
  border: solid .0625rem currentColor;
  color: currentColor;
  border-radius: .25rem;
  font-family: inherit;
  align-items: center;
  justify-content: center;
  grid-gap: .5rem;
  gap: .5rem;
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: all .14s ease-out;
}

.emitters-navigation-button:hover,
.emitters-navigation-button.active {
  transform: translate(-.25rem, -.25rem);
  box-shadow: .25rem .25rem #000;
  box-shadow: .25rem .25rem 0 var(--primary)
}