.emitters-window {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.emitters-primary-navbar {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-navbar-color);
}

.emitters-secondary-navbar {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-navbar-color);
}

.emitters {
  display: grid;
  grid-auto-rows: min-content;
  height: 100%;
  overflow: auto;
  background: var(--background-color);
}

.emitters-navigation-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: #555;
  position: relative;
}

.emitters-primary-navbar .emitters-navigation-button {
  background-color: var(--primary-navbar-color);
}

.emitters-secondary-navbar .emitters-navigation-button {
  background-color: var(--secondary-navbar-color);
  margin-top: 0.5rem;
}

/* Select all buttons that are not active, not being hovered over, and not previous to the one active or being hovering over. */
.emitters-navigation-button:not(.active, :hover, .emitters-navigation-button:has(+ .active, + :hover))::after {
  content: "";
  position: absolute;
  top: 15%;
  right: 0;
  height: 70%;
  border-right: 1px solid #919598;
}



/* .emitters-navigation-button::before(2) {
  content: "";
  position: absolute;
  left: -1px;
  bottom: -10px;
  width: 50%;
  height: 10px;
  border-top-left-radius: 10px;
  border-top: 1px solid #ccc;
  background-color: #f1f1f1;
  z-index: -1;
  transform: skew(-20deg);
} */

/* .emitters-navigation-button::after {
  content: "";
  position: absolute;
  right: -1px;
  bottom: -10px;
  width: 50%;
  height: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid #ccc;
  background-color: #f1f1f1;
  z-index: -1;
  transform: skew(20deg);
} */


.emitters-primary-navbar .emitters-navigation-button:hover {
  background-color: #f6f6f8;
}

.emitters-secondary-navbar .emitters-navigation-button:hover {
  background-color: #f6f6f8;
}

.emitters-primary-navbar .emitters-navigation-button.active {
  background-color: var(--secondary-navbar-color);
}

.emitters-secondary-navbar .emitters-navigation-button.active {
  background-color: #fff;
}