:root {
  --sidebar-width: 15vw;
  --sidebar-height: calc(100vh - 83px);
  --background-color: #ffc900;
  --standard-padding: 0.8vmin;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

.table-test td,
th,
table {
  border: 1px solid black;
  padding: 4px;
  margin: 4px;
}

.emitters div {
  padding: 2px;
}

.sticky {
  position: sticky;
  background-color: rgb(231, 146, 56);
  left: 0;
  top: 0
}

.data-window {
  display: flex;
  flex-direction: row;
  height: var(--sidebar-height);
}

.active {
  font-weight: bold;
}