.table-test td, th, table {
    border: 1px solid black;
    padding: 4px;
    margin: 4px;
}

.sidebar {
    border: 1px solid red;
    display: grid;
    grid-column: 1;
    grid-row: 1;
    width: fit-content;
    overflow: auto;
    border-radius: 6px;
    height: calc(100vh - 83px); /* This thing keep pagination control at the bottom of the page */
}

/* .main {
    display: grid;
    width: fit-content;
    column-gap: 4px;
} */

.data-window {
    border: 1px solid black;
    display: grid;
    grid-column: 2;
    grid-row: 1;
    grid-template-rows: 40px min-content;
    grid-auto-rows: min-content;
    height: calc(100vh - 83px); /* This thing keep pagination control at the bottom of the page */
    overflow: auto;
    border-radius: 6px;
}

.data-window div {
    padding: 2px;
}

.sticky {
    position: sticky;
    background-color: rgb(231, 146, 56);
    left: 0;
    top: 0
  }

.emitters {
    display: grid;
    width: fit-content;
    column-gap: 4px;
}